* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

main {
  margin-top: 6rem;
}

.customer {
  margin-bottom: 3rem;
  padding: 1.5rem;
}

.customer-image-container {
  width: 65vw;
  display: inline-block;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

.customer-image-container > img {
  width: 100%;
  display: block;
}

.customer-info {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  padding: 2rem;
}

.customer-name {
  color: #ff1b68;
  font-weight: bold;
}

.customer-title {
  color: grey;
  font-weight: bold;
}

.customer-title > a {
  color: grey;
  text-decoration: none;
}

.customer-statement {
  font-size: 1.2rem;
  text-align: justify;
}

