:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  min-height: 100vh;
  background: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  font-size: 1.6rem;
  color: var(--grey-dark-2); }

.logo {
  height: 4rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__bar {
    width: 90%;
    border-radius: 2.5rem;
    border: none;
    padding: 0.8rem 2rem;
    margin-right: -3rem;
    background-color: var(--grey-light-3);
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    transition: all 0.2s; }
    .search__bar:focus {
      outline: none;
      width: 100%; }
    .search__bar::-webkit-input-placeholder {
      color: var(--grey-light-4);
      font-weight: 300; }
  .search__btn {
    width: 2rem;
    border: none;
    background-color: var(--grey-light-3); }
    .search__btn:focus, .search__btn:active {
      outline: none; }
    .search__btn:active {
      transform: translateY(2px); }
  .search__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--grey-dark-3); }

.nav-user {
  align-self: stretch;
  display: flex; }
  .nav-user__icon-box {
    padding: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative; }
    .nav-user__icon-box:hover {
      background-color: var(--grey-light-3); }
  .nav-user__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--grey-dark-2); }
  .nav-user__label {
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: var(--grey-light-1); }
  .nav-user__user {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer; }
    .nav-user__user:hover {
      background-color: var(--grey-light-3); }
  .nav-user__user-avatar {
    height: 3.5rem;
    border-radius: 50%; }
  .nav-user__user-name {
    margin-left: 1rem; }

.nav-sidebar {
  width: 100%;
  margin-top: 3rem;
  list-style: none; }
  .nav-sidebar__item {
    padding: 1.5rem 3rem;
    position: relative; }
    .nav-sidebar__item:not(:last-child) {
      margin-bottom: 1rem; }
    .nav-sidebar__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0.3rem;
      height: 100%;
      transform: scaleY(0);
      background-color: var(--color-primary);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
    .nav-sidebar__item:hover::before, .nav-sidebar__item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .nav-sidebar__item:active::before {
      background-color: var(--color-primary-light); }
  .nav-sidebar__link:link, .nav-sidebar__link:visited {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--grey-light-1);
    position: relative;
    z-index: 1000; }
  .nav-sidebar__icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    margin-right: 2.5rem; }

.copyright {
  padding: 2.5rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--grey-light-4); }

.gallery {
  display: flex; }
  .gallery__hotel-img {
    width: 100%;
    display: block; }

.hotel-overview {
  display: flex;
  align-items: center;
  background-color: var(--grey-light-1);
  border-bottom: 1px solid var(--grey-light-2); }
  .hotel-overview__name {
    text-transform: uppercase;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-right: 2rem; }
  .hotel-overview__star-box {
    display: flex;
    margin-right: auto;
    fill: var(--color-primary); }
  .hotel-overview__star {
    width: 1.8rem;
    height: 1.8rem; }
  .hotel-overview__review {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--grey-light-1);
    background-color: var(--color-primary);
    padding: 1rem 2rem; }
  .hotel-overview__score {
    font-size: 2rem;
    margin-bottom: -2px; }
  .hotel-overview__votes {
    font-size: 1rem;
    text-transform: uppercase; }

.location {
  color: var(--color-primary);
  display: flex;
  align-items: center;
  margin-right: 2rem;
  font-size: 1.2rem; }
  .location__icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: currentColor; }
  .location__city {
    border: none;
    border-bottom: 1px solid currentColor;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    padding-bottom: 1px;
    margin-left: 0.5rem; }
    .location__city:hover {
      color: var(--grey-dark-1); }
    .location__city:focus {
      outline: none;
      animation: heartbeat 1s infinite; }

@keyframes heartbeat {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.container {
  max-width: 120rem;
  height: 100rem;
  margin: 8rem auto;
  background-color: var(--grey-light-1);
  box-shadow: 0 6rem 3rem rgba(0, 0, 0, 0.2); }

.page-header {
  height: 7%;
  background-color: var(--grey-light-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-light-2); }

.content {
  display: flex;
  height: 93%; }

.sidebar {
  background-color: lightcoral;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey-dark-1); }

.hotels {
  flex: 1;
  background-color: var(--grey-light-2); }
