.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--grey-light-1);
  box-shadow: 0 6rem 3rem rgba(black, 0.2);

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
  }

  @media only screen and (max-width: $bp-big) {
    max-width: 100%;
    min-height: 100%;
  }
}

.page-header {
  height: 7%;
  background-color: var(--grey-light-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-light-2);
  
  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: lightcoral;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey-dark-1);
  @media only screen and (max-width: $bp-medium) {
    flex-direction: row;
    flex: 0 0 100%;
  }
}

.hotels {
  flex: 1;
}

.hotel-details {
  background-color: var(--grey-light-2);
  padding: 5rem 4rem;
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: $bp-medium) {
    padding: 3rem 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.hotel-description {
  flex: 0 0 62.5%;
  background-color: var(--grey-light-1);
  border-radius: 3px;
  padding: 3rem;
  box-shadow: 0 2rem 3rem rgba(black, 0.2);
  @media only screen and (max-width: $bp-small) {
    margin-bottom: 3rem;
  }
}

.user-reviews {
  flex: 1;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: $bp-small) {
    padding-left: 0;
  }
}
