.composition {
  position: relative;

  &__photo {
    width: 55%;
    position: absolute;
    box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
    border-radius: 2px;
    transition: all, 0.2s;
    outline-offset: 1rem;
    z-index: 10;
    &:hover {
      transform: scale(1.2);
      box-shadow: 0 2rem 2rem rgba($color-black, 0.2);
      outline: 1rem solid $color-primary;
      z-index: 20;
    }

    &--p1 {
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
