@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
  }
}

@mixin responsive($mode) {
  @if $mode == phone {
    @media only screen and (max-width: 37.5em) {
      @content
    };
  }

  @if $mode == tablet-portrait {
    @media only screen and (max-width: 56.25em) {
      @content
    };
  }

  @if $mode == tablet-landscape {
    @media only screen and (max-width: 75em) {
      @content
    };
  }

  @if $mode == desktop-large {
    @media only screen and (min-width: 112.5em) {
      @content
    };
  }
}
