.u-center-text {
  text-align: center;
}

.u-margin-top-large {
  margin-top: 12rem;
  @include responsive(tablet-portrait) {
    margin-top: 6rem;
  }
}

.u-margin-top-medium {
  margin-top: 6rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
  @include responsive(tablet-portrait) {
    margin-bottom: 4rem;
  }
}
