* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.overview {
  background: url("./image/freedom.jpg");
  background-size: cover;
  background-position: left 10% top 30%;
  background-repeat: no-repeat;
  height: 31rem;
  padding: 0.6rem;
  color: white;
  margin-top: 1.25rem;
  position: relative;
}

.overview-slogan {
  position: absolute;
  bottom: 0;
  left: 1%;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plans {
  width: 90vw;
  text-align: center;
  margin: auto;
}

.plan {
  display: inline-block;
  background-color: #d5ffdc;
  width: 30%;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  vertical-align: middle;
}

.plan-title {
  color: #014f1f;
}

.price-tag {
  color: #858585;
}

.plan-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan-list_item {
  margin: 0.3rem 0;
}

.plan-highlight {
  background-color: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px grey;
}

.plan-recommend {
  background-color: white;
  color: #19b84c;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
}

.highlight-price {
  color: #0e4f1f;
}

.key-feature {
  background-color: #ff1b68;
  padding: 1rem;
  margin-top: 5rem;
  text-align: center;
}

.key-feature .section-title {
  color: white;
}

.feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.feature-item {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.feature-pic {
  width: 8rem;
  height: 8rem;
  background-color: #ffcede;
  border-radius: 50%;
  border: solid 2px black;
  margin: auto;
}

.feature-description {
  color: white;
  text-align: center;
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  z-index: 200;
  background-color: white;
  top: 20%;
  left: 30%;
  border: 1px solid;
  box-shadow: 1px 1px 8px #858585;
  width: 40%;
  padding: 1.5rem;
  text-align: center;
}

.modal-title {
  font-weight: bold;
}

.modal-buttons_yes {
  background-color: #014f1f;
  padding: 0.5rem 0.5rem;
  color: white;
  text-decoration: none;
  font: inherit;
}

.modal-buttons_yes:hover,
.modal-buttons_yes:active {
  background-color: #2ddf5c;
  border-color: #2ddf5c;
}

.modal-buttons_no {
  background-color: red;
  padding: 0.5rem 0.5rem;
  color: white;
  cursor: pointer;
  font: inherit;
}

.modal-buttons_no:hover,
.modal-buttons_no:active {
  background-color: #ff5454;
  border-color: #ff5454;
}
