* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.overview {
  background: url("./image/freedom.jpg");
  background-size: cover;
  background-position: left 10% top 30%;
  background-repeat: no-repeat;
  height: 500px;
  padding: 10px;
  color: white;
  margin-top: 20px;
  position: relative;
}

.overview-slogan {
  position: absolute;
  bottom: 0;
  left: 1%;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plans {
  width: 90%;
  text-align: center;
  margin: auto;
}

.plan {
  display: inline-block;
  background-color: #d5ffdc;
  width: 30%;
  text-align: center;
  padding: 16px;
  margin: 8px;
  vertical-align: middle;
}

.plan-title {
  color: #014f1f;
}

.price-tag {
  color: #858585;
}

.plan-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan-list_item {
  margin: 5px 0;
}

.plan-highlight {
  background-color: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px grey;
}

.plan-recommend {
  background-color: white;
  color: #19b84c;
  padding: 8px;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
}

.highlight-price {
  color: #0e4f1f;
}

.key-feature {
  background-color: #ff1b68;
  padding: 16px;
  margin-top: 80px;
  text-align: center;  
}

.key-feature .section-title {
  color: white;
}

.feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.feature-item {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.feature-pic {
  width: 128px;
  height: 128px;
  background-color: #ffcede;
  border-radius: 50%;
  border: solid 2px black;
  margin: auto;
}

.feature-description {
  color: white;
  text-align: center;
  font-weight: bold;
}
