* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.main-header {
  background-color: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header_brand {
  text-decoration: none;
  color: #014f1f;
  font-size: 22px;
  font-weight: bold;
}

.main-nav {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width: calc(100% - 72px);
}

.main-nav_items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav_item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav_item a {
  text-decoration: none;
  color: #014f1f;
  padding: 2px 0;
}

.main-nav_item a:hover,
.main-nav_item a:active {
  color: white;
  border-bottom: white solid 2px;
}

.main-nav_item--cta a {
  background-color: #ff1b68;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
}

.main-nav_item--cta a:hover,
.main-nav_item--cta a:active {
  color: #ff1b68;
  background-color: white;
  border: none;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan {
  display: inline-block;
  background-color: #d5ffdc;
  width: 30%;
  text-align: center;
  padding: 16px;
  margin: 8px;
  vertical-align: middle;
}

.plan-title {
  color: #014f1f;
}

.price-tag {
  color: #858585;
}

.plan-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan-list_item {
  margin: 5px 0;
}

.plan-highlight {
  background-color: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px grey;
}

.plan-recommend {
  background-color: white;
  color: #19b84c;
  padding: 8px;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
}

.highlight-price {
  color: #0e4f1f;
}

.button {
  background: #014f1f;
  color: white;
  font: inherit;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: white;
  color: #014f1f;
}

.button:focus {
  outline: none;
}
