* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.main-header {
  background-color: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
}

.main-header > div{
  display: inline-block;
  vertical-align: middle;
}

.main-header_brand {
  text-decoration: none;
  color:#014f1f;
  font-size: 22px;
  font-weight: bold;
}

.main-nav {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width: calc(100% - 72px);
}

.main-nav_items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav_item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav_item a {
  text-decoration: none;
  color:#014f1f;
  padding: 2px 0;
}

.main-nav_item a:hover,
.main-nav_item a:active {
  color: white;
  border-bottom: white solid 2px;
}

.main-nav_item--cta a {
  background-color: #ff1b68;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
}

.main-nav_item--cta a:hover,
.main-nav_item--cta a:active {
  color: #ff1b68;
  background-color: white;
  border: none;
}
