* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #5d6063;
  background-color: #eaedf0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Helvetica", "Arial", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaker-form-header {
  background-color: #f6f7f8;
  width: 80%;
  margin: 40px 0;
  padding: 50px;
  text-align: center;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
}

.speaker-form-header h1 {
  font-size: 30px;
}

.speaker-form-header p {
  margin-top: 20px;
}

.speaker-form {
  width: 80%;
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  padding: 50px;
  margin: 0 0 40px 0;
}

.form-row {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: 40px;
}

.form-row label {
  margin-bottom: 15px;
}

.form-row input[type="text"],
.form-row input[type="email"] {
  width: 100%; 
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  padding: 7px;
  font-size: 14px;
}

.form-row input[type="text"]:invalid,
.form-row input[type="email"]:invalid {
  color: #d55c5f;
  border: 1px solid #d55c5f;
  box-shadow: none;
}

.legacy-row {
  border: none;
  margin-bottom: 40px;
}

.legacy-row legend {
  margin-bottom: 15px;
  font-size: 14px;
}

.legacy-row label {
  display: block;
  font-size: 14px;
  padding: 0 20px 0 10px;
}

.legacy-row input {
  margin-top: 2px;
}

.legacy-row input[type="radio"],
.legacy-row label {
  float: left;
}

.form-row select {
  font-size: 14px;
  padding: 5px;
  -webkit-appearance: none;
  width: 100%;
}

.form-row textarea {
  min-height: 200px;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  font-size: 14px;
  font-family: "Helvetica", "Arial", sans-serif;
  padding: 7px;
  resize: none;
}

.form-row .description {
  font-size: 14px;
  color: #999999;
  margin-top: 10px;
  margin-bottom: 30px;
}

.form-row .checkbox-label {
  margin-bottom: 0;
}

.form-row button {
  background-color: #5995da;
  color: #ffffff;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  border: none;
}

.form-row button:hover {
  background-color: #76aeed;
}

.form-row button:active {
  background-color: #407fc7;
}

@media only screen and (min-width: 700px) {
  .speaker-form-header,
  .speaker-form {
    width: 600px;
  }

  .form-row {
    margin-top: 20px;
    flex-direction: row;
    justify-content: flex-start;
  }

  .form-row input[type="text"],
  .form-row input[type="email"],
  .form-row select,
  .form-row textarea {
    width: 250px;
    height: initial;
  }

  .form-row label {
    width: 120px;
    text-align: right;
    padding-right: 20px;
    margin-top: 7px;
  }

  .legacy-row {
    margin-bottom: 10px;
  }

  .legacy-row legend {
    float: left;
    width: 120px;
    text-align: right;
    padding-right: 20px;
  }

  .form-row .description {
    margin-left: 120px;
  }

  .form-row .checkbox-label {
    margin-left: 120px;
    width: auto;
  }

  button {
    margin-left: 120px;
  }
}
